div[lt-editable] {
  position: relative;
  display: inline-block;

  input.editable-input {
    position: absolute;
    border: none;
    background: none;
    -webkit-appearance: none;
    display: none;
  }

  h1, h2, h3, h4, h5 {
    margin: 0;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;


    white-space: nowrap;
    display: inline-block;
  }

  i.glyphicon-pencil {
    color: @gray-light;
    visibility: hidden;
    margin-top: 7px;
    top: -4px;
  }
}
