<div class="timeline-message">
  <h4 class="text-success">{{ message.title }}<small class="pull-right">{{ message.date | date: 'medium' }}</small></h4>
  <p class="text-muted">{{ shownContent }}</p>

  <lt-extendable ng-if="hiddenContent" extension-title="extendableTitle" ng-click="showHidden()" position="right"></lt-extendable>
</div>