<div class="login-body">
  <form class="form-signin" role="form">
    <h2 class="form-signin-heading">{{ $state.current.name.indexOf('login') > -1 ? 'Please sign in' : 'Please sign up' }}</h2>
    <label class="sr-only">Username</label>
    <input class="form-control" placeholder="Username" required autofocus ng-model="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="goToMain()">Log in</button>

    <div class="alert alert-danger" role="alert" ng-show="loginError">Your username or password is not valid</div>
    <div class="alert alert-danger" role="alert" ng-show="signupError">Username already in use</div>
  </form>
</div>