<div class="fluid-container" style="height: 100%">
  <div class="row main-container">
    <div class="col-lg-3" style="height: 100%">
      <lt-location registered="registered" online="online" writing="writing" style="display: block; height: 30%"></lt-location>
      <lt-people location="location" style="display: block; height: 70%"></lt-people>
    </div>
    <div class="col-lg-6" style="height: 85%%">
      <div class="page-header clearfix">
        <h4 style="min-height: 30px;">
          <span>{{ watchedUser.pseudo }}</span>
          <a ng-show="$state.current.name.indexOf('main.timeline') > -1 && watchedUser.id == user.id" class="btn btn-sm btn-success" ui-sref="main.express">Express yourself</a>
          <a ng-show="$state.current.name.indexOf('main.express') > -1" class="btn btn-sm btn-default" ui-sref="main.timeline">Return to timeline</a>
          <button class="btn btn-sm btn-warning pull-right" ng-click="getRandomUser()">Random</button>
        </h4>
      </div>
      <ui-view />
    </div>
    <div class="col-lg-3" style="height: 100%">
      <lt-profile profile="profile" location="location"></lt-profile>
    </div>
  </div>
</div>