<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="margin-left: 0px; padding: 4px" href="#"><img style="height:100%" src="src/static/img/wing.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-show="user.pseudo">
          <a href class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href ng-click="setUserToCurrent()">View</a></li>
            <li><a href="#">Edit</a></li>
            <li class="divider"></li>
            <li><a href ng-click="logout()">Log out</a></li>
          </ul>
        </li>
        <li style="width: 150px; padding-top: 8px;">
          <div lt-editable max-width="80%" max-length="140" ng-model="pseudo">
            <h5></h5>
            <input type="text"/>
          </div>
        </li>
        <li><a ui-sref="login" ng-if="!user.pseudo">Log in</a></li>
        <li><a ui-sref="signin" ng-if="!user.pseudo">Sign up</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>