<form novalidate name="myForm" class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-3">
      <input type="text" ng-model="messageTitle" class="form-control" id="inputTitle" placeholder="Title" name="messageTitle" ng-required>
    </div>
  </div>
  <textarea class="form-control" rows="3" placeholder="Express yourself" name="messageContent" ng-model="messageContent" ng-required></textarea>
  <button class="btn btn-success pull-right" style="margin-top: 10px"
          ng-disabled="!messageContent || !messageTitle"
          ng-click="action({ title: messageTitle, content: messageContent })">Save</button>
</form>