<div class="well extend-bottom" style="height:90%">
  <h4>Profile</h4>
  Recherche par contenu:
  <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
  </div>

  <div style="text-align: center; margin: 50px 0">
    <button class="btn btn-primary">Translate</button>
  </div>
  Most recent post:
  <ul>
    <li>Lieu: {{ location }}</li>
  </ul>

</div>