<div class="extendable">
  <a href ng-click="extended = !extended" class="clearfix">
    <h5 ng-class="{ 'pull-right': position == 'right' ? 1 : 0 }">
      <span class="glyphicon" ng-class="{'glyphicon-chevron-right' : extended === false, 'glyphicon-chevron-down': extended === true}"></span>
      {{ extensionTitle }}
    </h5>
  </a>
  <div ng-show="extended" hb-transclude></div>
</div>

