<div class="well extend-bottom" style="height:90%">
  <h4>Gens</h4>
  <ul>
    <li>Lieu: {{ location }}</li>
  </ul>
  <div style="text-align: center; margin: 50px 0">
    <button class="btn btn-lg btn-primary">Random</button>
  </div>

  Recherche par contenu:
  <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
  </div><!-- /input-group -->
</div>